* {
  margin: 0;
  padding: 0;
}

div {
  /* this height and width values are specific to this example */
  width: 95vw;
  height: 50vw;
  /* center the div vertically and horizontally to make it look nicer */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}


div::before {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  background: url("../../resources/images/bubs&me2_opt.jpg");
  background-position: top left;
  background-size: 100% 100%;
  filter: saturate(6) contrast(150%) invert(10);
  mix-blend-mode: multiply;
}

.contact p{
  text-align: center;
  font-size: 22px;
}
